<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Task Assignment</h1>
    <p>
       Magee,
    </p>
    <p>
      A new task has been assigned to you by someone in Foundersuite GoalPlanner.

      <!-- TODO:  add full text of the task (including milestone and goals?) -->
    </p>
  </body>
</html>