<%= render 'layouts/app-title' %>
<%= render 'form' %>
  <div class="dialog_links">
    <%= link_to 'cancel', @task, :id => "cancel", :class => "fs-link" %>
    <%= link_to 'delete', @task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fs-link left" %>
  </div>
