    <div role="banner" class="main-header">
      <div class="wrapper">
        <div class="row-fluid">
          <div class="span4">
            <a href="../index.html">
              <!-- temp logo graphic to compensate for 'missing' hgroup from screen.  Don't do for demo -->
              <%= link_to(image_tag("logo-temp.png", :alt => "foundersuite logo", :title => "Click here to return to Home"), "/") %>
              <!-- below doesn't work - must review .js and .css from FS -->
              <!-- <hgroup>
                <h1>Foundersuite</h1>
                <h2>goal planner</h2>
              </hgroup> -->
            </a>
          </div>
          <div class="user-opt span5 offset3">
            <a href="#" class="btn-info btn" data-method="delete" rel="nofollow">Log out</a><p>You are logged in as<br /><span>foundersuiteuser@domain.com</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-center">
      <div class="navbar-inner">
        <ul class="nav nav-pointer">
          <li class="dropdown">
            <a href="./new-goal.html">start a new goal</a>
          </li>
          <li class="dropdown">
            <a href="./goals.html">review existing goals</a>
          </li>
          <li class="dropdown">
            <a href="../teammembers.html">review team activity</a>
          </li>
          <li class="dropdown">
            <a href="../templates.html">add/edit templates</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- content region of page -->
    <div id="main">
      <div class="wrapper">
        <div id="proto-group" class="clearfix">
          <div class="btn-group pull-left">
            <a href="./1_edit.html" id="list_view" class="btn btn-small active">list</a>
            <a href="./1_graph.html" id="graph_view" class="btn btn-small">graph</a>
          </div>
        </div>
        <div class="dashboard">
          <div id="status">2/6</div>
          complete
        </div>
        <!-- </p> -->
        <br />

        <div class="graph-title">
          <div class="title">Media Outreach</div>
          <div class="launch-date">target launch: August 1, 2013</div>
          <div class="countdown"></div>
        </div>
<!--         <div id="page_button"></div>
          <div id="add_new" class="btn btn-primary btn-toggle-slide float-right">add new goal
            <i class="icon slide-down"></i>
          </div>
        </div>
 -->      </div> <!-- wrapper -->

      <div class="wrapper">
          <div class="table-box">
            <table class="table" id="goalsList">
              <thead>
                <tr>
<!--                   <th>Select</th> -->
                  <th>Milestone</th>
                  <th>Due Date</th>
                  <th>Owner</th>
                  <th>Complete?</th>
                </tr>
              </thead>
              <tbody>
                <tr class="task">
<!--                   <td class="selection">
                    <input id="goal_1" name="goal_1" type="checkbox" value="1">
                  </td>
 -->                  <td>
                    <a href="./task-edit.html" class="normal-text">Identify relevant blogs</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">05/10/2013</a>
                  </td>
                  <td>
                    <a href="./user-edit.html">cmorris@domain.com</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">no</a>
                  </td>
                </tr>
                <tr class="task">
<!--                   <td class="selection">
                    <input id="goal_1" name="goal_1" type="checkbox" value="1">
                  </td>
 -->                  <td>
                    <a href="./task-edit.html" class="normal-text">Compile list of story ideas</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">05/17/2013</a>
                  </td>
                  <td>
                    <a href="./user-edit.html">prteam@domain.com</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">yes</a>
                  </td>
                </tr>
                <tr class="task">
<!--                   <td class="selection">
                    <input id="goal_1" name="goal_1" type="checkbox" value="1">
                  </td>
 -->                  <td>
                    <a href="./task-edit.html" class="normal-text">Compile target journalist list</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">04/30/2013</a>
                  </td>
                  <td>
                    <a href="./user-edit.html">thomasw@domain.com</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">no</a>
                  </td>
                </tr>
                <tr class="task">
<!--                   <td class="selection">
                    <input id="goal_1" name="goal_1" type="checkbox" value="1">
                  </td>
 -->                  <td>
                    <a href="./task-edit.html" class="normal-text">Create pitch materials</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">05/10/2013</a>
                  </td>
                  <td>
                    <a href="./user-edit.html"></a>
                  </td>
                  <td>
                    <a href="./task-edit.html">no</a>
                  </td>
                </tr>
                <tr class="task">
<!--                   <td class="selection">
                    <input id="goal_1" name="goal_1" type="checkbox" value="1">
                  </td>
 -->                  <td>
                    <a href="./task-edit.html" class="normal-text">Line-up intros</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">05/17/2013</a>
                  </td>
                  <td>
                    <a href="./user-edit.html"></a>
                  </td>
                  <td>
                    <a href="./task-edit.html">no</a>
                  </td>
                </tr>
                <tr class="task">
<!--                   <td class="selection">
                    <input id="goal_1" name="goal_1" type="checkbox" value="1">
                  </td>
 -->                  <td>
                    <a href="./task-edit.html" class="normal-text">Identify target magazines</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">04/30/2013</a>
                  </td>
                  <td>
                    <a href="./user-edit.html">thomasw@domain.com</a>
                  </td>
                  <td>
                    <a href="./task-edit.html">yes</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- wrapper -->
    </div> <!-- main -->
