/*correct color for links in menu and logout button*/
/*@font-face {
  font-family: jennasue;
  src: url('jennasue-webfont-7223bec614edab1b17133f137673c644.eot');
}
*/.logo {
  float: left;
  width: 87%;
  margin-left: 25px;
  margin-bottom: 3px;
}
.dateregion {
  width: 150px;
  margin-left: 100px;
}

