/*correct color for links in menu and logout button*/
/*@font-face {
  font-family: jennasue;
  src: url('jennasue-webfont-7223bec614edab1b17133f137673c644.eot');
}
*/.logo {
  float: left;
  width: 87%;
  margin-left: 25px;
  margin-bottom: 3px;
}
.dateregion {
  width: 150px;
  margin-left: 100px;
}
.app-logo {
  margin: 0 auto;
  width: 90px;
}
.page-title,.page-title-folder {
  padding:20px 0 20px;
}
.separator {
  margin:30px 0;
  position:relative;
}
.separator p {
  color:#525252;
  position:absolute;
  text-align:center;
  top:-11px;
  width:100%;
}
.separator-header {
  margin:25px 0;
}
.table-box {
  margin-left: auto;
  margin-right: auto;
  border:1px solid #e3e3e3;
  width: 80%;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.float-clear {
  float: clear;
}
.add_new {
  display:none;
}