<li data-remote-on-hover=true >
  <div class="task-circle <%= milestone.id %>"></div>
  <div class="progress <%= milestone.id %> progress-<%= milestone.percent_complete.to_i%>"></div>
  <div class="title"><%= milestone.title %></div>
</li>
