<!--  *********** table 3 ***********  -->
<table class="tid_03 hidden milestonetasks">
  <thead>
    <tr>
      <th colspan="4">
        Target Journalists
        <br />
        <br />
      </th>
    </tr>
    <tr>
      <th>task</th>
      <th>owner</th>
      <th>due date</th>
      <th>complete?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Identify relevant magazines</td>
      <td>Jennifer</td>
      <td>June 22</td>
      <td class="center">
        <input data-remote="true" id="targetjournalists1" class="complete_task targetjournalist" type="checkbox" checked value="1">
      </td>
    </tr>
    <tr>
      <td>Identify relevant blogs</td>
      <td>Jennifer</td>
      <td>June 22</td>
      <td class="center">
        <input data-remote="true" id="targetjournalists2" class="complete_task targetjournalist" type="checkbox" value="1">
      </td>
    </tr>
    <tr>
      <td>Make list of writers</td>
      <td>Jennifer</td>
      <td>June 22</td>
      <td class="center">
        <input data-remote="true" id="targetjournalists3" class="complete_task targetjournalist" type="checkbox" value="1">
      </td>
    </tr>
  </tbody>
</table>

