<!--  *********** table 4 ***********  -->
<table class="tid_04 hidden milestonetasks">
  <thead>
    <tr>
      <th colspan="4">
        Pitch Materials
        <br />
        <br />
      </th>
    </tr>
    <tr>
      <th>task</th>
      <th>owner</th>
      <th>due date</th>
      <th>complete?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Marketing brief</td>
      <td>Jennifer</td>
      <td>July 4</td>
      <td class="center">
        <input data-remote="true" class="complete_task" type="checkbox" checked value="1">
      </td>
    </tr>
    <tr>
      <td>Private demo video</td>
      <td>Tom</td>
      <td>July 6</td>
      <td class="center">
        <input data-remote="true" class="complete_task" type="checkbox" value="1">
      </td>
    </tr>
    <tr>
      <td>Press release</td>
      <td>Tom</td>
      <td>May 19</td>
      <td class="center">
        <input data-remote="true" class="complete_task" type="checkbox" checked value="1">
      </td>
    </tr>
  </tbody>
</table>

