<table class="tid_06 tasks">
  <thead>
    <tr>
      <th colspan="5">
        Identify Magazines
        <br />
        <br />
      </th>
    </tr>
    <tr>
      <th>task</th>
      <th>owner</th>
      <th>due date</th>
      <th>complete?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="center">
        <input data-remote="true" class="complete_task" type="checkbox" value="1">
      </td>
    </tr>
  </tbody>
</table>
