<!--  *********** table 2 ***********  -->
<table class="tid_02 hidden milestonetasks">
  <thead>
    <tr>
      <th colspan="4">
        Story Ideas
        <br />
        <br />
      </th>
    </tr>
    <tr>
      <th>task</th>
      <th>owner</th>
      <th>due date</th>
      <th>complete?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Create story list</td>
      <td>Jennifer</td>
      <td>June 18</td>
      <td class="center">
        <input data-remote="true" id="storyideas" class="complete_task" class="complete_task" type="checkbox" checked value="1">
      </td>
    </tr>
  </tbody>
</table>