        <table class="tid_08 hidden milestonetasks">
          <thead>
            <tr>
              <th colspan="4">
                Target VC list
                <br />
                <br />
              </th>
            </tr>
            <tr>
              <th>complete?</th>
              <th>task</th>
              <th>owner</th>
              <th>due date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="select">
                <input id="ms_2_task_1" name="ms_2_task_1" type="checkbox"  value="1">
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
