        <table class="tid_09 hidden milestonetasks">
          <thead>
            <tr>
              <th colspan="4">
                Pitch Materials
                <br />
                <br />
              </th>
            </tr>
            <tr>
              <th>complete?</th>
              <th>task</th>
              <th>owner</th>
              <th>due date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="select">
                <input id="ms_2_task_1" name="ms_2_task_1" type="checkbox" checked value="1">
              </td>
              <td>Pitch deck built</td>
              <td>Jennifer</td>
              <td>May 20</td>
            </tr>
            <tr>
              <td class="select">
                <input id="ms_2_task_1" name="ms_2_task_1" type="checkbox" value="0">
              </td>
              <td>AngeList profile</td>
              <td>Tom</td>
              <td>May 22</td>
            </tr>
            <tr>
              <td class="select">
                <input id="ms_2_task_1" name="ms_2_task_1" type="checkbox" value="1">
              </td>
              <td>Financial Model Built</td>
              <td>Tim</td>
              <td>May 19</td>
            </tr>
          </tbody>
        </table>
