<%= render 'layouts/app-title' %>
<%= render 'new-steps', :step => 1 %>

<div class="wrapper new-goal">
<h3 class="separator-header"><span>new goal</span></h3>
    <div class="table-box goal">
      <div style="padding: 10px;">
        <%= render "form" %>
      </div>
    </div>
</div>

