<div role="banner" class="main-header">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span4">
        <a href="../index.html">
          <%= image_tag "logo-temp.png" %>
        </a>
      </div>
      <div class="user-opt span5 offset3">
        <a href="#" class="btn-info btn" data-method="delete" rel="nofollow">Log out</a><p>You are logged in as<br /><span>foundersuiteuser@domain.com</span></p>
      </div>
    </div>
  </div>
</div>
