<div role="banner" class="main-header">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span4">
      <%= link_to(image_tag("logo-temp.png", :alt => "foundersuite logo", :title => "Click here to return to Home"), "/") %>
      </div>
      <div class="user-opt span5 offset3">
        <a href="#" class="btn-info btn" data-method="delete" rel="nofollow">Log out</a><p>You are logged in as<br /><span>foundersuiteuser@domain.com</span></p>
      </div>
    </div>
  </div>
</div>
